<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Angular Links Votes App</a>
</nav>

<div class="container p-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <h3 class="card-header">Add a link</h3>
        <form class="card-body" action="">
          <label for="title">Title:</label>
          <input type="text" name="title" #title class="form-control" autofocus /><!-- This #title is the same as id="title" -->
          <label for="link">Link:</label>
          <input type="text" name="link" #link class="form-control" />
          <button class="btn btn-primary btn-block mt-4" (click)="addLink(title, link)">Send link</button><!-- The params title and link make refer to #title and #link -->
        </form>
      </div>
    </div>
  </div>

    <!-- To pass the data to the Link component, we need created an input entrace: [link] -->
    <app-link *ngFor="let link of links" [link]="link"></app-link>

</div>
